<div class="top-move">
	<div class="login">登&nbsp;&nbsp;录</div>
	<div class="closed"><a href="http://127.0.0.1:3000/index">×</a></div>
</div>
<div class="name">
	<div class="use-name">账号</div>
	<input type="text" placeholder="请输入账号" class="name-inp">
	<div class="wro1" style="font-family: 'iconfont'">&#xe61d;</div>
</div>
<div class="pwd">
	<div class="use-pwd">密码</div>
	<input type="password" placeholder="请输入密码" class="pwd-inp">
	<div class="eye_open3" style="font-family: 'iconfont'">&#xe610;</div>
	<div class="eye_clo3" style="font-family: 'iconfont'">&#xe611;</div>
</div>
<div class="log" id="login">登录</div>
<div class="other">
	<div class="sign"><a href="http://127.0.0.1:3000/sign">手机快速注册</a></div>
	<div class="find"><a href="http://127.0.0.1:3000/findpwd">忘记密码</a></div>
</div>
<div class="log2">
	<div class="wechat">
		<div class="icon1" style="font-family: 'iconfont'">&#xe609;</div>
		<div class="we-log">微信登录</div>
	</div>
	<div class="qq">
		<div class="icon2" style="font-family: 'iconfont'">&#xe649;</div>
		<div class="qq-log">QQ登录</div>
	</div>
</div>
<div class="alert1">
	<div class="alert1_s">登录成功</div>
	<div class="alert1_btn"><a href="http://127.0.0.1:3000/mine">完成</a></div>
</div>
<div class="fail">登录失败</div>