	<div class="check_log">
		<div class="check_">
			<div class="set" style="font-family: 'iconfont'">&#xe600;</div>
			<div class="my_log" style="font-family: 'iconfont'">&#xe601;<a href="http://127.0.0.1:3000/log" class="my_log_name">&nbsp;&nbsp;点击登录</a></div>
		</div>
	</div>
	<div class="check_change">
		<div class="check_change_c">
			<div class="c_l" style="font-family: 'iconfont'">&#xe678;</div>
			<div class="c_c" style="font-family: 'iconfont'">&#xe622;</div>
			<div class="c_r" style="font-family: 'iconfont'">&#xe60d;</div>
		</div>
		<div class="check_change_s">
			<div class="c_l1">夜间模式</div>
			<div class="c_c1">文字模式</div>
			<div class="c_r1">离线阅读</div>
		</div>
	</div>
	<div class="cen">
		<div class="my_mess">
			<div class="my_mess_s">我的消息</div>
			<div class="my_mess_i" style="font-family: 'iconfont'">&#xe662;</div>
		</div>
		<div class="my_coll">
			<div class="my_coll_s">我的收藏</div>
			<div class="my_coll_i" style="font-family: 'iconfont'">&#xe662;</div>
		</div>
		<div class="my_mon">
			<div class="my_mon_s">红包</div>
			<div class="my_mon_i" style="font-family: 'iconfont'">&#xe662;</div>
		</div>
		<div class="my_comp">
			<div class="my_comp_s">反馈投诉</div>
			<div class="my_comp_i" style="font-family: 'iconfont'">&#xe662;</div>
		</div>
	</div>
	<div class="bot">
		<div class="news">
			<div class="news_icon"  style="font-family:'iconfont'">&#xe608;</div>
			<div class="news_"><a href="http://127.0.0.1:3000/index">新闻</a></div>
		</div>
		<div class="intr">
			<div class="intr_icon"  style="font-family:'iconfont'">&#xe602;</div>
			<div class="intr_"><a href="http://127.0.0.1:3000/index">推荐</a></div>
		</div>
		<div class="cctv">
			<div class="cctv_icon"  style="font-family:'iconfont'">&#xe67c;</div>
			<div class="cctv_"><a href="http://127.0.0.1:3000/index">直播</a></div>
		</div>
		<div class="mine">
			<div class="mine_icon h"  style="font-family:'iconfont'">&#xe605;</div>
			<div class="mine_ h">我的</div>
		</div>
	</div>