	<div class="top-move">
		<div class="back" style="font-family: 'iconfont'">&#xe631;</div>
		<div class="sign-up">个人资料</div>
	</div>
	<div class="data-name">
		昵称&nbsp;<input type="text" class="d-name" placeholder="请输入昵称">
	</div>
	<div class="data-pwd">
		原密码&nbsp;<input type="password" class="d-pwd1" placeholder="请输入原密码">
		<div class="eye_open1" style="font-family: 'iconfont'">&#xe610;</div>
		<div class="eye_clo1" style="font-family: 'iconfont'">&#xe611;</div>
	</div>
	<div class="data-pwd">
		新密码&nbsp;<input type="password" class="d-pwd2" placeholder="请输入新密码">
		<div class="eye_open2" style="font-family: 'iconfont'">&#xe610;</div>
		<div class="eye_clo2" style="font-family: 'iconfont'">&#xe611;</div>
	</div>
	<div class="log">确认修改</div>
	<div class="mar">
		<div class="dp-false">密码格式错误</div>
	</div>