<div class="all">
	<div class="sea-top">
		<div class="sea-con">
			<div class="sea-inp" style="font-family:'iconfont'">&#xe604;<input type="text" placeholder="搜索感兴趣的内容"></div>
			<div class="closed1">×</div>
			<!-- <div class="sea-inp"><input type="text" placeholder="搜索感兴趣的内容"></div> -->
		</div>
	</div>
	<div class="hot-tit">
		<div class="fire" style="font-family:'iconfont'">&#xe67d;</div>
		<div class="fire-s">今日热点</div>
	</div>
	<div class="hot-news1">
		<div class="hot-num1">1.</div>
		<div class="hot-news1-s">
			<div class="hot-s">威海校车事故司机纵火</div>
			<div class="hot" style="font-family:'iconfont'">&#xe661;</div>
		</div>
	</div>
	<div class="hot-news1">
		<div class="hot-num1">2.</div>
		<div class="hot-news1-s">
			<div class="hot-s">男子3脚踢坏亿年乳石</div>
			<div class="hot" style="font-family:'iconfont'">&#xe661;</div>
		</div>
	</div>
	<div class="hot-news1">
		<div class="hot-num1">3.</div>
		<div class="hot-news1-s">
			<div class="hot-s">美国推出巴黎协定</div>
			<div class="hot" style="font-family:'iconfont'">&#xe661;</div>
		</div>
	</div>
	<div class="hot-news1">
		<div class="hot-num1" style="color: black">4.</div>
		<div class="hot-news1-s">
			<div class="hot-s">那些关于高考的记忆</div>
		</div>
	</div>
	<div class="hot-news1">
		<div class="hot-num1" style="color: black">5.</div>
		<div class="hot-news1-s">
			<div class="hot-s">顺丰菜鸟互怼</div>
		</div>
	</div>
	<div class="hot-news1">
		<div class="hot-num1" style="color: black">6.</div>
		<div class="hot-news1-s">
			<div class="hot-s">郭碧婷素颜</div>
		</div>
	</div>
</div>	