	<div class="top-move">
		<div class="back" style="font-family: 'iconfont'"><a href="http://127.0.0.1:3000/log">&#xe631;</a></div>
		<div class="sign-up">注&nbsp;&nbsp;册</div>
	</div>
	<div class="phone">
		<input type="text" placeholder="请输入11位手机号码" class="phone-inp">
		<div class="wro3" style="font-family: 'iconfont'">&#xe61d;</div>
	</div>
	<div class="iden">
		<div class="iden-code">
			<input type="text" placeholder="请输入验证码" class="code-inp">
			<div class="wro4" style="font-family: 'iconfont'">&#xe61d;</div>
		</div>
		<div class="send">获取验证码</div>
	</div>
	<div class="pswd">
		<input type="text" placeholder="密码为6-18位数字字母组合" class="pswd-inp">
	</div>
	<div class="log" id="sign">注册</div>
	<div class="law"><input type="checkbox" class="law-inp">&nbsp;<a href="">已阅读并同意相关协议</a></div>
	<div class="phone-true">验证码已发送</div>
	<div class="phone-false">手机号格式错误</div>
	<div class="pwd-false">密码格式错误</div>
	<div class="fail">此手机号已注册</div>
	<div class="alert2">
		<div class="alert2_s">注册成功</div>
		<div class="alert2_btn"><a href="http://127.0.0.1:3000/mine">完成</a></div>
	</div>
	<div class="alert4">
		<div class="alert2_s">信息填写有误</div>
		<div class="alert2_btn"><a href="http://127.0.0.1:3000/sign">完成</a></div>
	</div>
